{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="about main">
      <div class="about logo">
        <img src="{% static '로고.jpg' %}" />
        <p>hello</p>
      </div>
      <div class="about slogan"></div>
      <div class="about functions">
        <div class="about function 1"></div>
        <div class="about function 2"></div>
        <div class="about function 3"></div>
      </div>
      <div class="about explain">
        <div class=""></div>
      </div>
    </div>
    <style></style>

    <script></script>
  </body>
</html>
