<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link href="instyle.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="bg-white p-1" style="height: 10vh; margin-bottom: 1vh; display: flex; align-items: center; box-shadow: 2px 2px 2px 2px rgba(54, 54, 54, 0.651)">
        <div class="h5 text-black font-weight-bold" style="display: flex; align-items: center; margin-bottom: 0rem;"><i class="fas fa-chevron-left fa-1.5x" style="padding: 1rem; padding-top: 0.7rem; padding-bottom: 0.7rem; color: #000000"></i>검색어</div>
    </div>
    <hr width="90%" style="margin-top: 0.5rem; margin-bottom: 0.2rem;">
    <div style="font-size: 0.8rem; margin-bottom: 1.5rem; width: 90%; margin-left: auto; margin-right: auto;">추천 검색어 추천 검색어</div>
        <!-- first -->
            <div class="col-lg-4 mb-5 mb-lg-0" style="margin-bottom: 2.5rem!important;">
              <div class="bg-white p-1 rounded-lg shadow" style="height: 21vh;">
                <h1 class="h6 text-uppercase font-weight-bold mb-2 text-center">찾기쉬운 생활법령</h1>
                <div class="custom-separator my-2 mx-auto bg-primary"></div>
                <div style="height: 13vh">
                <ul class="list-unstyled my-1 text-small text-left">
                  <div class="specar">
                  <li class="mb-3" style="padding-right: 1vh; border-right-style: solid; border-right-width: 1px; border-right-color: lightgray">
                    <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
                  <li class="mb-3" style="padding-right: 1vh; border-right-style: solid; border-right-width: 1px; border-right-color: lightgray">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3" style="padding-right: 1vh; border-right-style: solid; border-right-width: 1px; border-right-color: lightgray">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3" style="padding-right: 1vh; border-right-style: solid; border-right-width: 1px; border-right-color: lightgray">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3" style="padding-right: 1vh; border-right-style: solid; border-right-width: 1px; border-right-color: lightgray">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  </div>
                </ul>
                </div>
              </div>
            </div>
        </div>
        <!-- second -->
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="bg-white p-1 rounded-lg shadow" style="height: 21vh;">
                <h1 class="h6 text-uppercase font-weight-bold mb-2 text-center">찾기쉬운 생활법령</h1>
                <div class="custom-separator my-2 mx-auto bg-primary"></div>
                <div style="height: 13vh">
                <ul class="list-unstyled my-1 text-small text-left">
                  <div class="specar">
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  </div>
                </ul>
                </div>
              </div>
            </div>
        </div>
        <!-- third -->
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="bg-white p-1 rounded-lg shadow" style="height: 21vh;">
                <h1 class="h6 text-uppercase font-weight-bold mb-2 text-center">찾기쉬운 생활법령</h1>
                <div class="custom-separator my-2 mx-auto bg-primary"></div>
                <div style="height: 13vh">
                <ul class="list-unstyled my-1 text-small text-left">
                  <div class="specar">
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                  </div>
                </ul>
                </div>
              </div>
            </div>
        </div>
</body>
<script src="https://kit.fontawesome.com/d3425aa9bd.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        $('.specar').slick({
        slidesToShow: 3,
        nextArrow: null,
        prevArrow: null,
        });
    });
</script>
</html>