<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="customer">
        <div>의뢰인이신가요?</div>
        <button>의뢰인으로 가입하기 ></button>
    </div>
    <div class="lawyer">
        <div>변호사이신가요?</div>
        <button>의뢰인으로 가입하기 ></button>
    </div>
</body>

<style>
button {
  background-color: #ff6f61;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
</style>
</html>